.menu,
.menu_b,
.menu_a {
  height: 100px;
}
.logo {
  padding-top: 5px;
}
.menu_f,
.menu_f li.menu_c,
.menu_f li.menu_c>a {
  height: 100px;
}
.banner {
  padding-top: 134px;
}
@media screen and (max-width: 991px) {
  .fu01 {
    position: relative;
    z-index: 5;
  }
  .fu01 .head_01 {
    width: 100%;
  }
  .fu01 .head_r {
    display: none;
  }
  .fu01 .head_l {
    float: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  .fu01+div {
    height: 0px !important;
  }
}
@media screen and (max-width: 991px) {
  .fu01 .menu_fu {
    height: auto;
  }
  .fu01 .menu_fu .menu_b_fu {
    height: auto;
    width: 100%;
  }
  .fu01 .menu_fu .logo_fu {
    float: none;
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .fu01 .menu_fu .menu_a_fu {
    float: none;
    width: 100%;
    height: auto;
  }
  .fu01 .menu_fu .menu_g {
    width: 100%;
    height: auto;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu,
  .fu01 .menu_fu .menu_g .menu_d_fu {
    width: 50%;
    border-bottom: 1px solid #ddd;
    background: url("../images/fdaoshu.jpg") no-repeat;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu a,
  .fu01 .menu_fu .menu_g .menu_d_fu a {
    width: 100%;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu .nan,
  .fu01 .menu_fu .menu_g .menu_d_fu .nan {
    display: none !important;
  }
  .fu01 .menu_fu .menu_g .aaa {
    background: #e84c3d;
  }
}
@media screen and (max-width: 991px) {
  .fu01 .menu {
    height: auto;
  }
  .fu01 .menu .menu_b {
    height: auto;
    width: 100%;
  }
  .fu01 .menu .logo {
    float: none;
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .fu01 .menu .menu_a {
    float: none;
    width: 100%;
    height: auto;
  }
  .fu01 .menu .menu_f {
    width: 100%;
    height: auto;
  }
  .fu01 .menu .menu_f .menu_c,
  .fu01 .menu .menu_f .menu_d {
    height: 56px;
    width: 50%;
    border-bottom: 1px solid #ddd;
    background: url("../images/fdaoshu.jpg") no-repeat;
  }
  .fu01 .menu .menu_f .menu_c a,
  .fu01 .menu .menu_f .menu_d a {
    height: 56px;
    width: 100%;
  }
  .fu01 .menu .menu_f .menu_c a:hover,
  .fu01 .menu .menu_f .menu_d a:hover {
    color: #fff;
    background: #e84c3d;
  }
  .fu01 .menu .menu_f .menu_c a .wa,
  .fu01 .menu .menu_f .menu_d a .wa {
    padding-top: 20px;
  }
  .fu01 .menu .menu_f .menu_c .nan,
  .fu01 .menu .menu_f .menu_d .nan {
    display: none !important;
  }
  .fu01 .menu .menu_f .aaa {
    background: #e84c3d;
  }
}
@media screen and (max-width: 991px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .wrap {
    width: 100%;
    margin-bottom: 20px;
    clear: both;
  }
  .wrap .left,
  .wrap .left_l {
    float: none;
    width: 100%;
  }
  .wrap .left:after,
  .wrap .left_l:after,
  .wrap .left:before,
  .wrap .left_l:before {
    display: block;
    content: '';
    clear: both;
  }
  .wrap .right,
  .wrap .right_r {
    float: none;
    width: 100%;
  }
  .wrap .right:after,
  .wrap .right_r:after,
  .wrap .right:before,
  .wrap .right_r:before {
    display: block;
    content: '';
    clear: both;
  }
}
@media screen and (max-width: 991px) {
  .focus {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main .app_edu_wrap {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  .daditu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main .app_college_wrap {
    display: block;
  }
}
.peixun {
  height: auto;
  margin-top: 5px;
}
@media screen and (max-width: 991px) {
  .peixun {
    width: 100%;
  }
}
.peixun a,
.peixun img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 991px) {
  .ss .footer,
  .ss .foo_a {
    display: none;
  }
  .ss .footer_a {
    padding-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  .sb_pg_div {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .wrap {
    width: 100%;
  }
  .wrap .benke {
    width: 100%;
  }
  .wrap .mben {
    width: 100%;
  }
  .wrap .bmenu {
    width: 100%;
  }
  .wrap .bmenu ul {
    width: 100%;
    float: none;
  }
  .wrap .bmenu .ben01 {
    width: 24.4%;
    margin-right: 0.8%;
  }
  .wrap .bmenu .ben01 a {
    width: 100%;
  }
  .wrap .bmenu .ben01:nth-last-child(1) {
    margin-right: 0;
  }
  .wrap .bbmenu {
    width: 100% !important;
  }
  .wrap .bbmenu .ben02 {
    width: 32.8% !important;
    margin-right: 0.8% !important;
  }
  .wrap .bbmenu .ben03 {
    width: 49.5% !important;
    margin-right: 1% !important;
  }
  .wrap .bbmenu .ben02 a,
  .wrap .bbmenu .ben03 a {
    width: 100%;
  }
  .wrap .bbmenu .ben02:nth-last-child(1),
  .wrap .bbmenu .ben03:nth-last-child(1) {
    margin-right: 0 !important;
  }
  .wrap .aa {
    width: 100%;
  }
  .wrap .aa .meiben {
    width: 100%;
  }
  .wrap .aa .meiben .mb_l,
  .wrap .aa .meiben .gao_l {
    float: none;
    width: 100%;
  }
  .wrap .aa .meiben .mb_l .xingshi,
  .wrap .aa .meiben .gao_l .xingshi {
    width: 100%;
  }
  .wrap .aa .meiben .mb_l .xingshi li,
  .wrap .aa .meiben .gao_l .xingshi li {
    width: 50%;
  }
  .wrap .aa .meiben .mb_r,
  .wrap .aa .meiben .gao_r {
    display: none;
    float: none;
    padding: 0;
  }
  .wrap .paim {
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
  }
  .wrap .paim .paim01 {
    float: none;
    width: 90%;
    margin-left: 2%;
  }
  .wrap .paim .paim01 .pai {
    padding-left: 20px;
    padding-right: 0;
    width: 100%;
  }
  .wrap .paim .paim01 .paimx {
    width: 100%;
  }
  .wrap .paim .paim01 .paimx img {
    width: 100%;
  }
  .wrap .paim .paim01 .paim02 {
    width: 100%;
  }
  .wrap .paim .paim01 .paim02 li {
    width: 50%;
  }
  .wrap .paim .anli {
    display: none;
  }
  .wrap .guihuax {
    width: 100%;
    padding: 20px 0 0 0;
    text-indent: 2em;
  }
  .wrap .guihuax .guihuax01 {
    display: block;
    margin-right: 20px;
  }
  .wrap .guihuax02 {
    width: 100%;
  }
  .wrap .guihuax02 img {
    display: block;
    width: 100%;
  }
  .wrap .wukuai01,
  .wrap .wukuai02,
  .wrap .wukuai03,
  .wrap .wukuai04,
  .wrap .wukuai05,
  .wrap .wukuai06,
  .wrap .wukuai07,
  .wrap .wukuai08,
  .wrap .wukuai09 {
    float: left;
    width: 49%;
    padding-left: 0;
    text-align: center;
    background: #fff;
  }
  .wrap .app_wukuai_dismiss {
    display: none !important;
  }
  .wrap .app_wukuai_divider {
    margin-right: 2%;
  }
  .wrap .shubiao {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .shubiao .shu_b {
    display: none;
  }
  .wrap .shubiao .shu_r {
    float: none;
    width: 100%;
  }
  .wrap .shubiao .shu_r ul {
    margin: 0 auto;
    width: 90%;
  }
  .wrap .shubiao .shu_r ul li {
    float: left;
    width: 47%;
    text-align: center;
  }
  .wrap .shubiao .shu_r ul li:odd {
    margin-right: 3%;
  }
  .wrap .ping {
    float: left;
    width: 49%;
    height: 403px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .wrap .ping form p.wa_e {
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center;
    padding-left: 0;
  }
  .wrap .ping form input.shuru {
    display: block;
    margin: 10px auto;
    width: 60%;
  }
  .wrap .ping form ul.tijiao {
    margin: 10px auto;
    padding-left: 0;
    width: 60%;
  }
  .wrap .ping form ul.tijiao li {
    text-align: center;
  }
  .wrap .fuwu,
  .wrap .fuwu01 {
    float: left;
    padding-bottom: 0;
    height: 403px;
    width: 49%;
  }
  .wrap .fuwu a,
  .wrap .fuwu01 a {
    display: block;
    text-align: center;
  }
  .wrap .shuxin,
  .wrap .yuanxian,
  .wrap .yuansou,
  .wrap .lie {
    padding-left: 0;
    margin-left: 4%;
    margin-right: 1%;
    width: 95%;
  }
  .wrap .shuxin table {
    width: 100%;
  }
  .wrap .shuxin table td {
    height: auto;
    padding-bottom: 5px;
/*&:nth-of-type(2n)*/
/*display inline-block*/
  }
  .wrap .shux01 {
    padding-top: 0px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
  }
  .wrap .shux01 li {
    margin-top: 5px;
  }
}
.wrap .lie .lie_a {
  width: 100%;
  padding-bottom: 30px;
}
.wrap .lie .lie_a .lie01 {
  display: block;
  width: auto;
  border: 0px;
  margin-bottom: 16px;
  text-align: left;
}
.wrap .lie .lie_a .lie01 img {
  border: #dbdbdb 1px solid;
}
.wrap .lie .lie_a .lie01+td {
  display: block;
  width: auto;
}
.wrap .lie .lie_a .syuan01 {
  padding-left: 0;
  width: 100%;
}
.wrap .lie .lie_a .syuan04 {
  width: 100%;
}
.wrap .lie .lie_a .syuan04 img {
  display: block;
  width: 100%;
}
.wrap .jiangzuo {
  float: left;
  margin-top: 0;
  height: 403px;
  width: 49%;
}
.wrap .jiangzuo a {
  display: block;
  height: 100%;
  width: 235px;
  margin: 0 auto;
  background: #fff;
}
.wrap .jiangzuo img {
  display: inline-block;
  margin-top: 60px;
}
.wrap .pagebox {
  width: 100%;
}
.wrap .pagebox a {
  display: none;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
}
.wrap .pagebox a:last-of-type {
  display: inline-block;
}
.wrap .pagebox a:first-of-type {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .wrap .jiangzuo {
    float: none;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    clear: both;
  }
  .wrap .jiangzuo a {
    height: auto;
  }
  .wrap .jiangzuo img {
    margin-top: 0;
  }
  .wrap .ping,
  .wrap .fuwu,
  .wrap .fuwu01 {
    float: none;
    width: 100%;
    margin-right: 0;
    height: auto;
    clear: both;
  }
  .wrap .yuansou>div {
    float: none;
    clear: both;
    margin-bottom: 10px;
  }
  .wrap .lie .lie_a .syuan05 {
    display: block;
    padding: 10px 0 5px 0;
  }
  .wrap .lie .lie_a .syuan05 td {
    display: block;
    float: left;
  }
}
@media screen and (max-width: 991px) {
  .main {
    width: 100%;
  }
  .main .guanggao {
    display: none;
  }
  .main .redian {
    width: 100%;
    padding: 20px 0;
  }
  .main .redian .rd_l {
    display: none;
  }
  .main .redian .rd_r {
    float: none;
    width: 80%;
    padding: 0;
    margin-left: 3%;
  }
  .main .redian .rd_r .wa_f {
    width: 100%;
  }
  .main .redian .rd_r .redian01 {
    width: 100%;
  }
  .main .redian .rd_r .redian01>li {
    width: 50%;
  }
  .main .wenzhang {
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
  }
  .main .wenzhang .anli {
    display: none;
    float: none;
  }
  .main .wenzhang .wenzhang_l {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  .main .wenzhang .wenzhang_l .wa_q {
    padding: 20px 20px 0 20px;
  }
  .main .wenzhang .wenzhang_l .wa_w {
    height: auto;
    padding: 20px;
  }
  .main .wenzhang .wenzhang_l .wenlie {
    padding-left: 20px;
  }
  .main .wenzhang .wenzhang_l .wenlie li {
    width: 50%;
  }
  .main .zixun {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .main .zixun .zi {
    width: 100%;
  }
  .main .zixun .zi>li {
    width: 49%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main .zixun .zi>li:nth-of-type(2n+1) {
    margin-right: 2%;
  }
  .main .zixun .zi>li .wa_u {
    font-size: 18px;
  }
  .main .zixun .zi>li .wa_i,
  .main .zixun .zi>li .pandian {
    padding: 0;
    margin: 10px 5% 0 5%;
    width: 85%;
  }
  .main .zixun .zi>li .pandian li {
    width: 100%;
  }
  .main .zixun .zi>li>a {
    text-align: center;
    display: block;
  }
  .main .zixun .zi>li>a img {
    width: 96%;
    max-width: 210px;
    height: auto;
    max-height: 140px;
    padding-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .main .app_display {
    display: none;
  }
  .main .app_divider_right_sm {
    margin-right: 2%;
  }
  .main .app_margin_bottom_sm_20 {
    margin-bottom: 20px;
  }
  .main .app_margin_bottom_sm_0 {
    margin-bottom: 0;
  }
  .main .app_margin_top_sm_20 {
    margin-top: 20px;
  }
  .main .app_margin_top_sm_0 {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .main .app_divider_right_sm {
    margin-right: 0;
  }
  .main .app_margin_bottom_xs_0 {
    margin-bottom: 0;
  }
  .main .app_margin_bottom_xs_20 {
    margin-bottom: 20px;
  }
  .main .app_margin_top_xs_0 {
    margin-top: 0;
  }
  .main .app_margin_top_xs_20 {
    margin-top: 20px;
  }
}
