.menu,
.menu_b,
.menu_a {
  height: 100px;
}
.logo {
  padding-top: 5px;
}
.menu_f,
.menu_f li.menu_c,
.menu_f li.menu_c>a {
  height: 100px;
}
.banner {
  padding-top: 134px;
}
@media screen and (max-width: 991px) {
  .fu01 {
    position: relative;
    z-index: 5;
  }
  .fu01 .head_01 {
    width: 100%;
  }
  .fu01 .head_r {
    display: none;
  }
  .fu01 .head_l {
    float: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  .fu01+div {
    height: 0px !important;
  }
}
@media screen and (max-width: 991px) {
  .fu01 .menu_fu {
    height: auto;
  }
  .fu01 .menu_fu .menu_b_fu {
    height: auto;
    width: 100%;
  }
  .fu01 .menu_fu .logo_fu {
    float: none;
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .fu01 .menu_fu .menu_a_fu {
    float: none;
    width: 100%;
    height: auto;
  }
  .fu01 .menu_fu .menu_g {
    width: 100%;
    height: auto;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu,
  .fu01 .menu_fu .menu_g .menu_d_fu {
    width: 50%;
    border-bottom: 1px solid #ddd;
    background: url("../images/fdaoshu.jpg") no-repeat;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu a,
  .fu01 .menu_fu .menu_g .menu_d_fu a {
    width: 100%;
  }
  .fu01 .menu_fu .menu_g .menu_c_fu .nan,
  .fu01 .menu_fu .menu_g .menu_d_fu .nan {
    display: none !important;
  }
  .fu01 .menu_fu .menu_g .aaa {
    background: #e84c3d;
  }
}
@media screen and (max-width: 991px) {
  .fu01 .menu {
    height: auto;
  }
  .fu01 .menu .menu_b {
    height: auto;
    width: 100%;
  }
  .fu01 .menu .logo {
    float: none;
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .fu01 .menu .menu_a {
    float: none;
    width: 100%;
    height: auto;
  }
  .fu01 .menu .menu_f {
    width: 100%;
    height: auto;
  }
  .fu01 .menu .menu_f .menu_c,
  .fu01 .menu .menu_f .menu_d {
    height: 56px;
    width: 50%;
    border-bottom: 1px solid #ddd;
    background: url("../images/fdaoshu.jpg") no-repeat;
  }
  .fu01 .menu .menu_f .menu_c a,
  .fu01 .menu .menu_f .menu_d a {
    height: 56px;
    width: 100%;
  }
  .fu01 .menu .menu_f .menu_c a:hover,
  .fu01 .menu .menu_f .menu_d a:hover {
    color: #fff;
    background: #e84c3d;
  }
  .fu01 .menu .menu_f .menu_c a .wa,
  .fu01 .menu .menu_f .menu_d a .wa {
    padding-top: 20px;
  }
  .fu01 .menu .menu_f .menu_c .nan,
  .fu01 .menu .menu_f .menu_d .nan {
    display: none !important;
  }
  .fu01 .menu .menu_f .aaa {
    background: #e84c3d;
  }
}
@media screen and (max-width: 991px) {
  .focus {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main {
    width: 100%;
  }
  .main .wenzhang {
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
  }
  .main .wenzhang .anli {
    display: none;
    float: none;
  }
  .main .wenzhang .wenzhang_l {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  .main .wenzhang .wenzhang_l .wa_q {
    padding: 20px 20px 0 20px;
  }
  .main .wenzhang .wenzhang_l .wa_w {
    height: auto;
    padding: 20px;
  }
  .main .wenzhang .wenzhang_l .wenlie {
    padding-left: 20px;
  }
  .main .wenzhang .wenzhang_l .wenlie li {
    width: 50%;
  }
  .main .wrap {
    width: 100%;
    margin-bottom: 20px;
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -moz-box-direction: reverse;
    -webkit-box-direction: reverse;
    -o-box-direction: reverse;
    box-direction: reverse;
    clear: both;
  }
  .main .wrap .right {
    float: none;
    width: 100%;
    padding-top: 20px;
  }
  .main .wrap .right .benke {
    width: 100%;
  }
  .main .wrap .right .benke .mben {
    width: 100%;
  }
  .main .wrap .right .benke .aa {
    width: 100%;
  }
  .main .wrap .right .benke .aa .meiben {
    width: 100%;
  }
  .main .wrap .right .benke .aa .meiben .mb_l,
  .main .wrap .right .benke .aa .meiben .gao_l {
    float: none;
    width: 100%;
  }
  .main .wrap .right .benke .aa .meiben .mb_l .xingshi,
  .main .wrap .right .benke .aa .meiben .gao_l .xingshi {
    width: 100%;
  }
  .main .wrap .right .benke .aa .meiben .mb_l .xingshi li,
  .main .wrap .right .benke .aa .meiben .gao_l .xingshi li {
    width: 50%;
  }
  .main .wrap .right .benke .aa .meiben .mb_r,
  .main .wrap .right .benke .aa .meiben .gao_r {
    display: none;
    float: none;
    padding: 0;
  }
  .main .wrap .right .benke .bmenu {
    width: 100%;
  }
  .main .wrap .right .benke .bmenu ul {
    width: 100%;
    float: none;
  }
  .main .wrap .right .benke .bmenu .ben01 {
    width: 24.4%;
    margin-right: 0.8%;
  }
  .main .wrap .right .benke .bmenu .ben01 a {
    width: 100%;
  }
  .main .wrap .right .benke .bmenu .ben01:nth-last-child(1) {
    margin-right: 0;
  }
  .main .wrap .left {
    float: none;
    width: 100%;
  }
  .main .wrap .left>div {
    float: left;
    width: 49%;
  }
  .main .wrap .left .wukuai01,
  .main .wrap .left .wukuai02,
  .main .wrap .left .wukuai03,
  .main .wrap .left .wukuai04,
  .main .wrap .left .wukuai05,
  .main .wrap .left .wukuai06,
  .main .wrap .left .wukuai07,
  .main .wrap .left .wukuai08,
  .main .wrap .left .wukuai09 {
    padding-left: 0;
    text-align: center;
    background: #fff;
  }
  .main .wrap .left .app_wukuai_dismiss {
    display: none;
  }
  .main .wrap .left .app_wukuai_divider {
    margin-right: 2%;
  }
  .main .wrap .left .ping,
  .main .wrap .left .fuwu,
  .main .wrap .left .fuwu01 {
    padding-bottom: 0;
  }
  .main .wrap .left .ping {
    margin-right: 2%;
    height: 403px;
    margin-bottom: 0;
  }
  .main .wrap .left .ping form {
    margin-top: 20px !important;
  }
  .main .wrap .left .ping form p.wa_e {
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center;
    padding-left: 0;
  }
  .main .wrap .left .ping form input.shuru {
    display: block;
    margin: 10px auto;
    width: 60%;
  }
  .main .wrap .left .ping form ul.tijiao {
    margin: 10px auto;
    padding-left: 0;
    width: 60%;
  }
  .main .wrap .left .ping form ul.tijiao li {
    text-align: center;
  }
  .main .wrap .left .fuwu,
  .main .wrap .left .fuwu01 {
    height: 403px;
  }
  .main .wrap .left .fuwu a,
  .main .wrap .left .fuwu01 a {
    display: block;
    text-align: center;
  }
  .main .wrap .left .jiangzuo {
    margin-top: 0;
    height: 403px;
  }
  .main .wrap .left .jiangzuo a {
    display: block;
    height: 100%;
    width: 235px;
    margin: 0 auto;
    background: #fff;
  }
  .main .wrap .left .jiangzuo img {
    display: inline-block;
    margin-top: 60px;
  }
  .main .guanggao {
    display: none;
  }
  .main .zixun {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .main .zixun .zi {
    width: 100%;
  }
  .main .zixun .zi>li {
    width: 49%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main .zixun .zi>li:nth-of-type(2n+1) {
    margin-right: 2%;
  }
  .main .zixun .zi>li .wa_u {
    font-size: 18px;
  }
  .main .zixun .zi>li .wa_i,
  .main .zixun .zi>li .pandian {
    padding: 0;
    margin: 10px 5% 0 5%;
    width: 85%;
  }
  .main .zixun .zi>li .pandian li {
    width: 100%;
  }
  .main .zixun .zi>li>a {
    text-align: center;
    display: block;
  }
  .main .zixun .zi>li>a img {
    width: 96%;
    max-width: 210px;
    height: auto;
    max-height: 140px;
    padding-left: 0;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .main .wrap {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .main .ping,
  .main .fuwu,
  .main .fuwu01 {
    width: 100% !important;
    margin-bottom: 20px !important;
    margin-right: 0 !important;
    height: auto !important;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .main .jiangzuo {
    margin-bottom: 20px !important;
    height: auto !important;
    width: 100% !important;
  }
  .main a {
    height: auto !important;
  }
  .main img {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 991px) {
  .ss .footer,
  .ss .foo_a {
    display: none;
  }
  .ss .footer_a {
    padding-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  .sb_pg_div {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .redian {
    width: 100%;
    padding: 20px 0;
  }
  .redian .rd_l {
    display: none;
  }
  .redian .rd_r {
    float: none;
    width: 80%;
    padding: 0;
    margin-left: 3%;
  }
  .redian .rd_r .wa_f {
    width: 100%;
  }
  .redian .rd_r .redian01 {
    width: 100%;
  }
  .redian .rd_r .redian01>li {
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .main .app_edu_wrap {
    margin-bottom: 0;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -o-box-direction: normal;
    box-direction: normal;
  }
  .main .app_edu_wrap>div {
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -moz-box-direction: reverse;
    -webkit-box-direction: reverse;
    -o-box-direction: reverse;
    box-direction: reverse;
    margin-bottom: 20px;
    clear: both;
  }
  .main .app_edu_wrap>div .pinggu01 {
    display: none;
  }
  .main .app_edu_wrap>div .wukuai08 {
    display: none;
  }
  .main .app_edu_wrap .right .paim {
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
  }
  .main .app_edu_wrap .right .paim .paim01 {
    float: none;
    width: 90%;
    margin-left: 2%;
  }
  .main .app_edu_wrap .right .paim .paim01 .pai {
    padding-left: 20px;
    padding-right: 0;
    width: 100%;
  }
  .main .app_edu_wrap .right .paim .paim01 .paimx {
    width: 100%;
  }
  .main .app_edu_wrap .right .paim .paim01 .paimx img {
    width: 100%;
  }
  .main .app_edu_wrap .right .paim .paim01 .paim02 {
    width: 100%;
  }
  .main .app_edu_wrap .right .paim .paim01 .paim02 li {
    width: 50%;
  }
  .main .app_edu_wrap .right .paim .anli {
    display: none;
  }
  .main .app_edu_wrap .right .bbmenu {
    width: 100% !important;
  }
  .main .app_edu_wrap .right .bbmenu .ben02 {
    width: 32.8% !important;
    margin-right: 0.8% !important;
  }
  .main .app_edu_wrap .right .bbmenu .ben03 {
    width: 49.5% !important;
    margin-right: 1% !important;
  }
  .main .app_edu_wrap .right .bbmenu .ben02 a,
  .main .app_edu_wrap .right .bbmenu .ben03 a {
    width: 100%;
  }
  .main .app_edu_wrap .right .bbmenu .ben02:nth-last-child(1),
  .main .app_edu_wrap .right .bbmenu .ben03:nth-last-child(1) {
    margin-right: 0 !important;
  }
  .main .app_edu_wrap .guanggao {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .daditu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main .app_college_wrap {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .wrap .left_l {
    width: 100%;
    float: none;
  }
  .wrap .left_l>div {
    padding-left: 0;
    margin-left: 4%;
    margin-right: 1%;
    width: 95%;
  }
  .wrap .left_l .shuxin table {
    width: 100%;
  }
  .wrap .left_l .shuxin table td {
    height: auto;
    padding-bottom: 5px;
  }
  .wrap .left_l .shuxin table .shux01 {
    padding-top: 0px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
  }
  .wrap .left_l .shuxin table .shux01 li {
    margin-top: 5px;
  }
  .wrap .left_l .lie .lie_a {
    width: 100%;
    padding-bottom: 30px;
  }
  .wrap .left_l .lie .lie_a .lie01 {
    display: block;
    width: auto;
    border: 0px;
    margin-bottom: 16px;
    text-align: left;
  }
  .wrap .left_l .lie .lie_a .lie01 img {
    border: #dbdbdb 1px solid;
  }
  .wrap .left_l .lie .lie_a .lie01+td {
    display: block;
    width: auto;
  }
  .wrap .left_l .lie .lie_a .syuan01 {
    padding-left: 0;
    width: 100%;
  }
  .wrap .left_l .lie .lie_a .syuan04 {
    width: 100%;
  }
  .wrap .left_l .lie .lie_a .syuan04 img {
    display: block;
    width: 100%;
  }
  .wrap .left_l .lie .pagebox {
    width: 100%;
  }
  .wrap .left_l .lie .pagebox a {
    display: none;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
  }
  .wrap .left_l .lie .pagebox a:last-of-type {
    display: inline-block;
  }
  .wrap .left_l .lie .pagebox a:first-of-type {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .wrap .left_l .yuansou>div {
    float: none;
    margin-bottom: 10px;
  }
  .wrap .left_l .lie .lie_a .syuan05 {
    display: block;
    padding: 10px 0 5px 0;
  }
  .wrap .left_l .lie .lie_a .syuan05 td {
    display: block;
    float: left;
  }
}
@media screen and (max-width: 991px) {
  .wrap .right_r {
    float: none;
    width: 100%;
  }
  .wrap .right_r .shubiao {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .right_r .shubiao .shu_b {
    display: none;
  }
  .wrap .right_r .shubiao .shu_r {
    float: none;
    width: 100%;
  }
  .wrap .right_r .shubiao .shu_r ul {
    margin: 0 auto;
    width: 90%;
  }
  .wrap .right_r .shubiao .shu_r ul li {
    float: left;
    width: 47%;
    text-align: center;
  }
  .wrap .right_r .shubiao .shu_r ul li:odd {
    margin-right: 3%;
  }
  .wrap .wukuai01,
  .wrap .wukuai02,
  .wrap .wukuai03,
  .wrap .wukuai04,
  .wrap .wukuai05,
  .wrap .wukuai06,
  .wrap .wukuai07,
  .wrap .wukuai08,
  .wrap .wukuai09 {
    float: left;
    width: 49%;
    padding-left: 0;
    text-align: center;
    background: #fff;
  }
  .wrap .app_wukuai_dismiss {
    display: none !important;
  }
  .wrap .app_wukuai_divider {
    margin-right: 2%;
  }
}
@media screen and (max-width: 991px) {
  .peixun {
    width: 100%;
    height: auto;
    margin-top: 5px;
  }
  .peixun a,
  .peixun img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .app_display {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .app_divider_right {
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .app_divider_right {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .wrap .guihuax {
    width: 100%;
    padding: 20px 0 0 0;
    text-indent: 2em;
  }
  .wrap .guihuax .guihuax01 {
    display: block;
    margin-right: 20px;
  }
  .wrap .guihuax02 {
    width: 100%;
  }
  .wrap .guihuax02 img {
    display: block;
    width: 100%;
  }
}
