//== Edu Module Page
.main .app_edu_wrap
  @media screen and (max-width : $screen-sm-max)
    margin-bottom 0

    &>div
      margin-bottom 20px
      clear both


//== College Module Page
.daditu
  @media screen and (max-width : $screen-sm-max)
    display none

.main .app_college_wrap
  @media screen and (max-width : $screen-sm-max)
    display block

//== common left and right
.wrap
  @media screen and (max-width : $screen-sm-max)
    .left_l
      width 100%
      float none
      &>div
        padding-left 0
        margin-left 4%
        margin-right 1%
        width 95%
      .shuxin table
        width 100%
        td
          height auto
          padding-bottom 5px
        .shux01
          padding-top 0px
          padding-bottom 5px
          width 100%
          height auto
          li
            margin-top 5px


  @media screen and (max-width : $screen-xs-max)
    .left_l
      .yuansou
        &>div
          float none
          margin-bottom 10px
      .lie .lie_a .syuan05
        display block
        padding 10px 0 5px 0
        td
          display block
          float left

.wrap
  @media screen and (max-width : $screen-sm-max)
    .right_r
      float none
      width 100%
      .shubiao
        width 100%
        margin-top 20px
        .shu_b
          display none
        .shu_r
          float none
          width 100%
          ul
            margin 0 auto
            width 90%
            li
              float left
              width 47%
              text-align center
              &:odd
                margin-right 3%

    .wukuai01, .wukuai02, .wukuai03, .wukuai04, .wukuai05, .wukuai06, .wukuai07, .wukuai08, .wukuai09
      float left
      width 49%
      padding-left 0
      text-align center
      background #fff

    .app_wukuai_dismiss
      display none !important

    .app_wukuai_divider
      margin-right 2%

//== Language Module
.peixun
  @media screen and (max-width : $screen-sm-max)
    width 100%
    height auto
    margin-top 5px
    a
    img
      display block
      width 100%
      height auto