.app_display
  @media screen and (max-width : $screen-sm-max)
    display none !important

.app_divider_right
  @media screen and (max-width : $screen-sm-max)
    margin-right 2%
  @media screen and (max-width : $screen-xs-max)
    margin-right 0


.wrap
  @media screen and (max-width : $screen-sm-max)
    .guihuax
      width 100%
      padding 20px 0 0 0
      text-indent 2em
      .guihuax01
        display block
        margin-right 20px
    .guihuax02
      width 100%
      img
        display block
        width 100%