//== Main Block
.main
  @media screen and (max-width : $screen-sm-max)
    width 100%

//== common .wrap block
.wrap
  @media screen and (max-width : $screen-sm-max)
    width 100%
    margin-bottom 20px
    clear both

    //== common left and relative block
    .left, .left_l, .left_01
      float none
      width 100%
      &:after, &:before
        display block
        content ''
        clear both

    //== common right and relative block
    .right, .right_r
      float none
      width 100%
      &:after, &:before
        display block
        content ''
        clear both