//== Edu Module Page

.redian
  @media screen and (max-width : $screen-sm-max)
    width 100%
    padding 20px 0

    .rd_l
      display none

    .rd_r
      float none
      width 80%
      padding 0
      margin-left 3%

      .wa_f
        width 100%

      .redian01
        width 100%
        &>li
          width 50%

.main .app_edu_wrap
  @media screen and (max-width : $screen-sm-max)
    margin-bottom 0
    displayBoxDirection(normal)

    &>div
      displayBox()
      displayBoxOrient(vertical)
      displayBoxDirection(reverse)
      margin-bottom 20px
      clear both

      .pinggu01
        display none

      .wukuai08
        display none

    .right

      .paim
        width 100%
        background #ffffff
        padding-bottom 20px

        .paim01
          float none
          width 90%
          margin-left 2%
          .pai
            padding-left 20px
            padding-right 0
            width 100%
          .paimx
            width 100%
            img
              width 100%

          .paim02
            width 100%
            li
              width 50%

        .anli
          display none

      .bbmenu
        width 100% !important

        .ben02
          width 32.8% !important
          margin-right 0.8% !important
        .ben03
          width 49.5% !important
          margin-right 1% !important

        .ben02
        .ben03
          a
            width 100%

          &:nth-last-child(1)
            margin-right 0 !important

    .guanggao
       display none