//== Index Module Page
.focus
  @media screen and (max-width : $screen-sm-max)
    display none

//== Edu Module Page
.main .app_edu_wrap
  @media screen and (max-width : $screen-sm-max)
    margin-bottom 0

//== College Module Page
.daditu
  @media screen and (max-width : $screen-sm-max)
    display none
.main .app_college_wrap
  @media screen and (max-width : $screen-sm-max)
    display block

//== Language Module
.peixun
  @media screen and (max-width : $screen-sm-max)
    width 100%
  height auto
  margin-top 5px
  a
  img
    display block
    width 100%
    height auto