.fu01
  @media screen and (max-width : $screen-sm-max)
    position relative
    z-index 5

    .head_r
      display none

    .head_l
      float none
      padding-left 0
      width 100%
      text-align center

    &+div
      height 0px !important

/* region Sub Page Nav */
.fu01 .menu_fu
  @media screen and (max-width : $screen-sm-max)
    height auto

    .menu_b_fu
      height auto
      width 100%

    .logo_fu
      float none
      width 100%
      height auto
      padding 5px 0
      border-bottom 1px solid #ddd
      text-align center

    .menu_a_fu
      float none
      width 100%
      height auto

    .menu_g
      width 100%
      height auto

      .menu_c_fu, .menu_d_fu
        width 50%
        border-bottom 1px solid #ddd
        background url(../images/fdaoshu.jpg) no-repeat;

        a
          width 100%

        .nan
          display none !important

      .aaa
        background #e84c3d
/* endregion */

/* region Index Page Nav */
.fu01 .menu
  @media screen and (max-width : $screen-sm-max)
    height auto

    .menu_b
      height auto
      width 100%

    .logo
      float none
      width 100%
      height auto
      padding 5px 0
      border-bottom 1px solid #ddd
      text-align center

    .menu_a
      float none
      width 100%
      height auto

    .menu_f
      width 100%
      height auto

      .menu_c, .menu_d
        height 56px
        width 50%
        border-bottom 1px solid #ddd
        background url(../images/fdaoshu.jpg) no-repeat;

        a
          height 56px
          width 100%

          &:hover
            color #fff
            background #e84c3d

          .wa
            padding-top 20px

        .nan
          display none !important

      .aaa
        background #e84c3d

/* endregion */