

//== Begin .wrap SubObject
.wrap
  @media screen and (max-width : $screen-sm-max)
    width 100%
    //== have subsort list page
    // sort list wrap
    .benke
      width 100%
    // sort list tab
    .mben
      width 100%
    .bmenu
      width 100%
      ul
        width 100%
        float none
      .ben01
        width 24.4%
        margin-right 0.8%
        a
          width 100%
        &:nth-last-child(1)
          margin-right 0
    .bbmenu
      width 100% !important
      .ben02
        width 32.8% !important
        margin-right 0.8% !important
      .ben03
        width 49.5% !important
        margin-right 1% !important
      .ben02
      .ben03
        a
          width 100%
        &:nth-last-child(1)
          margin-right 0 !important
    // sort list content
    .aa
      width 100%
      .meiben
        width 100%
        .mb_l, .gao_l
          float none
          width 100%
          .xingshi
            width 100%
            li
              width 50%
        .mb_r, .gao_r
          display none
          float none
          padding 0

    // in edu index page
    .paim
      width 100%
      background #ffffff
      padding-bottom 20px
      .paim01
        float none
        width 90%
        margin-left 2%
        .pai
          padding-left 20px
          padding-right 0
          width 100%
        .paimx
          width 100%
          img
            width 100%
        .paim02
          width 100%
          li
            width 50%
      .anli
        display none

    // no subsort list page
    .guihuax
      width 100%
      padding 20px 0 0 0
      text-indent 2em
      .guihuax01
        display block
        margin-right 20px
    .guihuax02
      width 100%
      img
        display block
        width 100%

    //== Sidebar component
    // wukuai list
    .wukuai01, .wukuai02, .wukuai03, .wukuai04, .wukuai05, .wukuai06, .wukuai07, .wukuai08, .wukuai09
      float left
      width 49%
      padding-left 0
      text-align center
      background #fff
    .app_wukuai_dismiss
      display none !important
    .app_wukuai_divider
      margin-right 2%

    // sub nav component
    .shubiao
      width 100%
      margin-top 20px
      .shu_b
        display none
      .shu_r
        float none
        width 100%
        ul
          margin 0 auto
          width 90%
          li
            float left
            width 47%
            text-align center
            &:odd
              margin-right 3%

    // advertisement component
    .ping
      float left
      width 49%
      height 403px
      margin-bottom 0
      padding-bottom 0
      form
        p.wa_e
          margin-bottom 16px
          font-size 18px
          text-align center
          padding-left 0

        input.shuru
          display block
          margin 10px auto
          width 60%

        ul.tijiao
          margin 10px auto
          padding-left 0
          width 60%

          li
            text-align center

    .fuwu, .fuwu01, .fuwulc
      float left
      padding-bottom 0
      margin-bottom 0
      margin-top 0
      height 403px
      width 49%
      a
        display block
        text-align center
    .fuwulc
      text-align center

    // in college list page
    .shuxin, .yuanxian, .yuansou, .lie
      padding-left 0
      margin-left 4%
      margin-right 1%
      width 95%
    .shuxin table
      width 100%
      td
        height auto
        padding-bottom 5px
        /*&:nth-of-type(2n)*/
          /*display inline-block*/
      .shux01
        padding-top 0px
        padding-bottom 5px
        width 100%
        height auto
        li
          margin-top 5px

    // list block in college list page
    .lie .lie_a
      width 100%
      padding-bottom 30px
      .lie01
        display block
        width auto
        border 0px
        margin-bottom 16px
        text-align left
        img
          border #dbdbdb 1px solid

        &+td
          display block
          width auto

      .syuan01
        padding-left 0
        width 100%

      .syuan04
        width 100%
        img
          display block
          width 100%

    // in language index page
    .jiangzuo
      float left
      margin-top 0
      height 403px
      width 49%
      a
        display: block
        height 100%
        width 235px
        margin 0 auto
        background #fff
      img
        display inline-block
        margin-top 60px

    .ggao
      display none

    // pagebox, in list page
    .pagebox
      width 100%
      a
        display none
        height 30px
        line-height 30px
        padding 0 12px
        &:last-of-type
          display inline-block
        &:first-of-type
          display inline-block

    // article content
    .luqu01, .datu
      width 100%
    .datu
      img
        max-width 100%
      &>p
        width 90%
        padding-left 0
        margin-left 5%
        margin-right 5%


.wrap
  @media screen and (max-width : $screen-xs-max)
    .jiangzuo
      float none
      margin-bottom 20px
      height auto
      width 100%
      clear both
      a
        height auto
      img
        margin-top 0

    .ping, .fuwu, .fuwu01, .fuwulc
      float none
      width 100%
      margin-right 0
      height auto
      clear both

    .yuansou
      &>div
        float none
        clear both
        margin-bottom 10px
    .lie .lie_a .syuan05
      display block
      padding 10px 0 5px 0
      td
        display block
        float left

//== End .wrap Subject

//== Begin .main SubObject
.main
  @media screen and (max-width : $screen-sm-max)
    width 100%
    .guanggao
      display none
    .redian
      width 100%
      padding 20px 0
      .rd_l
        display none
      .rd_r
        float none
        width 80%
        padding 0
        margin-left 3%
        .wa_f
          width 100%
        .redian01
          width 100%
          &>li
            width 50%

    // in index page
    .wenzhang
      width 100%
      background #FFFFFF
      padding-bottom 20px
      .anli
        display none
        float none
      .wenzhang_l
        float none
        width 100%
        padding-bottom 0
        .wa_q
          padding 20px 20px 0 20px
        .wa_w
          height auto
          padding 20px
        .wenlie
          padding-left 20px
          li
            width 50%

    // common .zixun module
    .zixun
      width 100%
      margin-bottom 0 !important
      .zi
        width 100%
        &>li
          width 49%
          margin-right 0
          margin-bottom 20px
          &:nth-of-type(2n+1)
            margin-right 2%

          .wa_u
            font-size 18px

          .wa_i, .pandian
            padding 0
            margin 10px 5% 0 5%
            width 85%

          .pandian li
            width 100%


          &>a
            text-align center
            display block
            img
              width 96%
              max-width 210px
              height auto
              max-height 140px
              padding-left 0

// End .main SubObject