//== component style
.main
  @media screen and (min-width : $screen-md-min)
    .app_show_sm
      display none
  @media screen and (max-width : $screen-sm-max)
    .app_display
      display none
    .app_show_sm
      display block
    .app_divider_right_sm
      margin-right 2%

    .app_margin_bottom_sm_20
      margin-bottom 20px 
    .app_margin_bottom_sm_0
      margin-bottom 0 
    .app_margin_top_sm_20
      margin-top 20px 
    .app_margin_top_sm_0
      margin-top 0 

  @media screen and (max-width : $screen-xs-max)
    .app_divider_right_sm
      margin-right 0

    .app_margin_bottom_xs_0
      margin-bottom 0 
    .app_margin_bottom_xs_20
      margin-bottom 20px
    .app_margin_top_xs_0
      margin-top 0 
    .app_margin_top_xs_20
      margin-top 20px
