// because the style of .focus block is dead, can't responslize, so display it.
.focus
  @media screen and (max-width : $screen-sm-max)
    display none


//== Main Block
.main
  @media screen and (max-width : $screen-sm-max)
    width 100%

    .wenzhang
      width 100%
      background #FFFFFF
      padding-bottom 20px

      .anli
        display none
        float none

      .wenzhang_l
        float none
        width 100%
        padding-bottom 0

        .wa_q
          padding 20px 20px 0 20px

        .wa_w
          height auto
          padding 20px

        .wenlie
          padding-left 20px
          li
            width 50%

    .wrap
      width 100%
      margin-bottom 20px
      displayBox()
      displayBoxOrient(vertical)
      displayBoxDirection(reverse)
      clear both

      @media screen and (max-width : $screen-xs-max)
        margin-bottom 0 !important

      .right
        float none
        width 100%
        padding-top 20px

        .benke
          width 100%

          .mben
            width 100%

          .aa
            width 100%

            .meiben
              width 100%

              .mb_l, .gao_l
                float none
                width 100%

                .xingshi
                  width 100%
                  li
                    width 50%

              .mb_r, .gao_r
                display none
                float none
                padding 0

          .bmenu
            width 100%

            ul
              width 100%
              float none

            .ben01
              width 24.4%
              margin-right 0.8%

              a
                width 100%

              &:nth-last-child(1)
                margin-right 0


      .left
        float none
        width 100%

        &>div
          float left
          width 49%

        .wukuai01, .wukuai02, .wukuai03, .wukuai04, .wukuai05, .wukuai06, .wukuai07, .wukuai08, .wukuai09
          padding-left 0
          text-align center
          background #fff

        .app_wukuai_dismiss
          display none

        .app_wukuai_divider
          margin-right 2%

        .ping, .fuwu, .fuwu01
          padding-bottom 0
          @media screen and (max-width : $screen-xs-max)
            width 100% !important
            margin-bottom 20px !important
            margin-right 0 !important
            height auto !important

        .ping
          margin-right 2%
          height 403px
          margin-bottom 0
          form
            margin-top 20px !important
            p.wa_e
              margin-bottom 16px
              font-size 18px
              text-align center
              padding-left 0

            input.shuru
              display block
              margin 10px auto
              width 60%

            ul.tijiao
              margin 10px auto
              padding-left 0
              width 60%

              li
                text-align center

        .fuwu, .fuwu01
          height 403px
          a
            display block
            text-align center

        .jiangzuo
          margin-top 0
          height 403px
          a
            display: block
            height 100%
            width 235px
            margin 0 auto
            background #fff
          img
            display inline-block
            margin-top 60px

          @media screen and (max-width : $screen-xs-max)
            margin-bottom 20px !important
            height auto !important
            width 100% !important
            a
              height auto !important
            img
              margin-top 0 !important

    .guanggao
      display none

    .zixun
      width 100%
      margin-bottom 0 !important
      .zi
        width 100%
        &>li
          width 49%
          margin-right 0
          margin-bottom 20px
          &:nth-of-type(2n+1)
            margin-right 2%

          .wa_u
            font-size 18px

          .wa_i, .pandian
            padding 0
            margin 10px 5% 0 5%
            width 85%

          .pandian li
            width 100%


          &>a
            text-align center
            display block
            img
              width 96%
              max-width 210px
              height auto
              max-height 140px
              padding-left 0

.ss
  @media screen and (max-width : $screen-sm-max)
    .footer
    .foo_a
      display none

    .footer_a
      padding-top 10px

.sb_pg_div
  @media screen and (max-width : $screen-sm-max)
    display none

