// module to custom Home Nav block

.menu, .menu_b, .menu_a
  height $home-nav-height

.logo
  padding-top 5px

.menu_f
.menu_f li.menu_c
.menu_f li.menu_c>a
.menu_f li.menu_d
.menu_f li.menu_d>a
  height $home-nav-height

.banner
  padding-top 134px