displayBox()
  display -moz-box
  display -webkit-box
  display -o-box
  display box

displayBoxDirection(direc)
  -moz-box-direction direc
  -webkit-box-direction direc
  -o-box-direction direc
  box-direction direc

displayBoxOrient(orient)
  -moz-box-orient orient
  -webkit-box-orient orient
  -o-box-orient orient
  box-orient orient